# .env.example
MY_NEW_VAR=
ANOTHER_SECRET=
VITE_COMMUNITY_NAME=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_DISCORD_BOT_API_URL=
VITE_DISCORD_BOT_API_KEY=
MTA_DB_HOST=
MTA_DB_USER=
MTA_DB_PASSWORD=
MTA_DB_NAME=
